{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
  {{ block.super }}

  {% if original %}
    <li>
      <a class="button" href="{% url 'admin:core_order_set_status' original.id 'processing' %}">В обработке</a>
    </li>
    <li>
      <a class="button" href="{% url 'admin:core_order_set_status' original.id 'shipped' %}">Отправлен</a>
    </li>
    <li>
      <a class="button" href="{% url 'admin:core_order_set_status' original.id 'delivered' %}">Доставлен</a>
    </li>
  {% endif %}
{% endblock %}